<h1><%= @restaurant.name %></h1>

<p style="color: green"><%= notice %></p>
<ul>
  <li><strong>Name:</strong> <%= @restaurant.name %></li>
  <li><strong>Address:</strong> <%= @restaurant.address %></li>
  <li><strong>Cat:</strong> <%= @restaurant.category %></li>
  <li><strong>Phone:</strong> <%= @restaurant.phone_number ? @restaurant.phone_number : 'N/A' %></li>
</ul>

<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.rating %>/5 - <%= review.content %></li>
  <% end %>
</ul>

<%= link_to 'écrire un avis', new_restaurant_review_path(@restaurant) %>
